<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %></title>
    <style>
        .movie-container {
            text-align: center;
            margin: 20px;
        }
        .movie-title {
            font-size: 24px;
            font-weight: bold;
        }
        .movie-image {
            max-width: 100%;
            height: auto;
        }
        .movie-details {
            margin-top: 10px;
        }
        .button {
            display: inline-block;
            margin-top: 10px;
            padding: 10px 20px;
            background-color: #007BFF;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

         /* Breakpoints */
         @media (max-width: 600px) {
            .movie-title {
                font-size: 20px;
            }
            .movie-details {
                font-size: 16px;
            }
            .button {
                padding: 8px 16px;
                font-size: 14px;
            }
        }

        @media (max-width: 400px) {
            .movie-title {
                font-size: 18px;
            }
            .movie-details {
                font-size: 14px;
            }
            .button {
                padding: 6px 12px;
                font-size: 12px;
            }
        }
    </style>
</head>
<body>
    <div id="movie-container" class="movie-container">
        <h1 class="movie-title"><%= movie.title %></h1>
        <img class="movie-image" src="<%= movie.link %>" alt="<%= movie.title %>">
        <div class="movie-details"><%= movie.genre %> | <%= movie.year %>| <%= movie.puntaje %></div>
        <a href="<%= '/api/peliculas/create' %>" class="button">Buscar Otra Pelicula</a>
    </div>
</body>
</html>
